
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif !important;
}
#my-navigation-bar{
    background-color:#7749f8 !important;
    color: white !important;
}
#post-area{
    border: 3px solid rgb(218, 217, 217);
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
}
.postedSection{
    /* border: 3px solid rgb(218, 217, 217); */
    padding: 8px;
    margin-top: 10px 0px;
}
#myLinks{
    color:#7749f8;
    display: flex;

}
#myLinks a{
    margin: 3px 5px;
}

#logout{
    border: 2px solid white;
    border-radius: 4px;
}



